# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
public/__verify.html
report-spec-details.json
get_endpoints_summary.json
report-schemas.json
tsconfig-errors4.txt
tsconfig-errors3.txt
tsconfig-errors2.txt
tsconfig-errors.txt
eslint-output.txt
build-output2.txt
build-output.txt
backend-paths.json
backend-spec.json
.eslintcache
